@model Chair80CP.Models.vwTripsDetails
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<link href="/Content/plugins/light-gallery/css/lightgallery.css" rel="stylesheet">

<div class="body">
    <div class="panel">
        <div class="panel-heading"><h2>Trip Details</h2></div>
        <div class="modal-body">
            <table class="table">
                <tr>
                    <td>Kick Off :</td>     
                    <td>@Model.from_plc</td>    
                </tr>
                <tr>
                    <td>Destination :</td>  
                    <td>@Model.to_plc</td>      
                </tr>
                <tr>
                    <td>Route :</td>     
                    <td><a href="https://www.google.com/maps/dir/?api=1&origin=@Model.from_plc&destination=@Model.to_plc&travelmode=drive">View in map</a></a?></td>    
                </tr>
                <tr>
                    <td>Started At :</td>
                    <td>@Model.trip_start_date</td>
                </tr>
            </table>
        </div>
    </div> 
    <div class="panel">
        <div class="panel-heading"><h2>Trip Route</h2></div>
        <div class="modal-body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d13814.852478108138!2d31.220034917490665!3d30.045087160111382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x145846cd25871d93%3A0x74a1ef05b4ecdc48!2z2KfZhNiv2YLZitiMINin2YTYr9mC2YnYjCDYp9mE2KzZitiy2Kk!3m2!1d30.039451099999997!2d31.2025336!4m5!1s0x14584127cad1cd5d%3A0xf12159ea97150310!2z2KfZhNi52KzZiNiy2KnYjCDYrdmKINin2YTYudis2YjYstip2Iwg2KfZhNis2YrYstip!3m2!1d30.0511223!2d31.2125529!5e0!3m2!1sar!2seg!4v1562352002512!5m2!1sar!2seg" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    
    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="/Content/images/image-gallery/1.jpg" data-sub-html="Demo Description">
                <img class="img-responsive thumbnail" src="/Content/images/image-gallery/thumb/thumb-1.jpg">
            </a>
        </div>
       
    </div>
</div>


